# ---------------------------------
# 1. 시스템 및 VS Code 설정 무시
# ---------------------------------
.vscode/
.DS_Store

# ---------------------------------
# 2. Python (python 폴더 관련)
# ---------------------------------
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.env

# ---------------------------------
# 3. MySQL/DB (mysql 폴더 관련)
# ---------------------------------
*.log
*.sql
*.pem
*.key
*.err

# (중요) DB 데이터가 저장되는 무거운 폴더 무시
mysql/data/
mysql/mysql_data/
binlog.*
auto.cnf